	/* font  中文*/
	$small:12px;
	$normal:14px;
	$large:16px;
	$xlarge:18px;

	/* color */
	$backColor:#0f8dc7;

	$skyBlue:skyblue;
	$deepSkyBlue:deepskyblue;

	$lightGray:#ddd;
	$deepGray: #999;

	body{
		/* background:#f3f6f9; */
	}
	html,body,div,p,ul,ol,li,table,tr,td,label,input,select{
		margin:0;
		padding:0;
		font: normal $normal 微软雅黑,宋体;
	}
	ul{
		list-style-type:none;
	}
	a{
		text-decoration:none;
		color:#333;
	}

	table{
		width:auto;
		margin:0px auto;
		border-collapse:collapse;
		tr,td{
			border-collapse:collapse;
			border:1px solid deepskyblue;
		}
		td{
			padding:5px;
		}
	}

	.breadcrumb{
		float:left;
		width:100%;
		line-height:30px;
		border-bottom:1px solid firebrick;
	}
	.breadcrumb li{
		float:left;
		margin-left:10px;
		font-size:$normal;
		color:black;
		a{
			color:black;
		}
		&:after{
			margin:0 0 0 10px;
			content:">";
		}
		&:last-child:after{
			content:"";
		}
	}
